<div class="row">

    <div class="col-md-3">
        <div class="card shadow-sm text-center bg-light">
            <div class="card-body">
                <h6>Toplam Cari</h6>
                <h3>@ViewBag.ToplamCari</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm text-center bg-light">
            <div class="card-body">
                <h6>Ürün Sayısı</h6>
                <h3>@ViewBag.ToplamUrun</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm text-center bg-light">
            <div class="card-body">
                <h6>Toplam Satış</h6>
                <h3>@ViewBag.ToplamSatis</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm text-center bg-light">
            <div class="card-body">
                <h6>Personel Sayısı</h6>
                <h3>@ViewBag.PersonelSayisi</h3>
            </div>
        </div>
    </div>

</div>
