@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Online Ticari Otomasyon</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <!--UIcons (Flaticon) -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css">

    <!--Template CSS bağlantıları -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/template/css/styles.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />

    <!--Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />

    <style>
        i.fa, i.fas, i.fa-solid, i.fa-fw {
            font-family: "Font Awesome 6 Free" !important;
            font-weight: 900 !important;
        }

        i.fi {
            font-family: 'uicons-regular-rounded' !important;
            font-style: normal;
        }

        i.fi-br {
            font-family: 'uicons-bold-rounded' !important;
        }

        i.fi-sr {
            font-family: 'uicons-solid-rounded' !important;
        }

        i.fi, i.fa {
            font-size: 1rem;
            vertical-align: middle;
        }
    </style>
</head>

<body class="sb-nav-fixed">

    <!-- Üst Navbar -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="/Kategori/Index">Ticari Otomasyon</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>

        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Ara..." aria-label="Search" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        @{
            var adminId = Context.Session.GetInt32("AdminId");
            var cariId = Context.Session.GetInt32("CariId");
        }

        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                    @if (adminId != null)
                    {
                        <li><a class="dropdown-item" href="/Admin/Index">Admin Panel</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/Login/CikisYap">Çıkış Yap</a></li>
                    }
                    else if (cariId != null)
                    {
                        <li><a class="dropdown-item" href="/Hesabim/Index">Hesabım</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/Login/CikisYap">Çıkış Yap</a></li>
                    }
                    else
                    {
                        <li><a class="dropdown-item" href="/Login/GirisYap">Giriş Yap</a></li>
                        <li><a class="dropdown-item" href="/Login/KayitOl">Kayıt Ol</a></li>
                    }

                </ul>
            </li>
        </ul>

        <button id="darkModeBtn" class="btn btn-sm btn-outline-secondary">
            🌙 Dark Mode
        </button>

    </nav>

    <!-- Sol Menü -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <div class="sb-sidenav-menu-heading">İşlemler</div>

                        <a class="nav-link" href="/Kategori/Index">
                            <div class="sb-nav-link-icon"><i class="fi fi-br-grid-alt"></i></div>
                            Kategoriler
                        </a>

                        <a class="nav-link" href="/Urun/Index">
                            <div class="sb-nav-link-icon"><i class="fi fi-sr-box-open-full"></i></div>
                            Ürünler
                        </a>

                        <a class="nav-link" href="/Departman/Index">
                            <div class="sb-nav-link-icon"><i class="fi fi-br-building"></i></div>
                            Departmanlar
                        </a>

                        <a class="nav-link" href="/Cariler/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-handshake"></i></div>
                            Cariler
                        </a>

                        <a class="nav-link" href="/Personel/Index">
                            <div class="sb-nav-link-icon"><i class="fi fi-br-users-alt"></i></div>
                            Personeller
                        </a>

                        <div class="sb-sidenav-menu-heading">Rapor & Fatura</div>

                        <a class="nav-link" href="/SatisHareket/Index">
                            <div class="sb-nav-link-icon"><i class="fi fi-br-shopping-cart"></i></div>
                            Satış Hareketleri
                        </a>

                        <a class="nav-link" href="/Fatura/Index">
                            <div class="sb-nav-link-icon"><i class="fi fi-br-file-invoice-dollar"></i></div>
                            Faturalar
                        </a>

                        <a class="nav-link" href="/FaturaKalem/Index">
                            <div class="sb-nav-link-icon"><i class="fi fi-br-receipt"></i></div>
                            Fatura Kalemler
                        </a>

                        <a class="nav-link" href="/Kargo/Index">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-truck"></i>
                            </div>
                            Kargo İşlemleri
                        </a>

                        <a class="nav-link" href="/KargoTakip/Index">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-box"></i>
                            </div>
                            Kargo Takibi
                        </a>

                        <a class="nav-link" href="/Iade/Index">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-undo-alt"></i>
                            </div>
                            İade İşlemleri
                        </a>

                        <a class="nav-link" href="/Urun/UrunListesi">
                            <div class="sb-nav-link-icon"><i class="fi fi-sr-folder-upload"></i></div>
                            PDF ~ Excel
                        </a>

                        <a class="nav-link" href="/Istatistik/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                            İstatistikler
                        </a>

                        <a class="nav-link" href="/Grafik/Index">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            Grafikler
                        </a>

                    </div>
                </div>

            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main class="p-3">
                @RenderBody()
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">© Ticari Otomasyon @DateTime.Now.Year</div>
                        <div>
                            <a href="#">Gizlilik</a> ·
                            <a href="#">Şartlar</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    
    <script src="/js/darkmode.js"></script>
    <script src="/js/grafikler.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/template/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/template/js/datatables-simple-demo.js"></script>
    
    
    




    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
